{% extends 'admin/base.html' %}

{% block content %}
    <style>
        form {
            max-width: 500px;
            margin: 0 auto; 
            padding: 20px; 
        }
        
        .field label {
            font-size: 18px; 
            font-weight: bold; 
            margin-bottom: 10px;
        }

        .field input[type="file"] {
            font-size: 16px; 
        }
        
        .buttonn {
            display: inline-block;
            padding: 8px 18px;
            font-size: 18px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 2px;
            border: none;
            cursor: pointer;
        }

        .buttonn:hover {
            background-color: #0056b3;
        }
        
    </style>
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label for="archivo_csv">Importar lista de precios de telas</label>
                <br/>
                <br/>
                {{ form.as_p }}
            </div>

            <button type="submit" class="buttonn">Actualizar lista</button>
        </form>
    </div>
    <br />

{% endblock %}